In [1]:
import pandas as pd

## **Constructors:**

In [2]:
pd.Series([2,3,4,5,6])

0    2
1    3
2    4
3    5
4    6
dtype: int64

In [3]:
mySeries = pd.Series(['a','b','c',])
mySeries

0    a
1    b
2    c
dtype: object

In [4]:
# Rectangular type of data
a = ['dog','cat','frog']
b = [4, 4, 4]

pd.DataFrame([a, b])

     0    1     2
0  dog  cat  frog
1    4    4     4

In [5]:
# Dictionaries use {} ; lists use []
pd.DataFrame({'animal' : a, 'legs': b})

  animal  legs
0    dog     4
1    cat     4
2   frog     4

In [6]:
z = {'animal': 'dog', 'legs': 4}
x = {'animal': 'cat', 'legs': 4}
y = {'animal': 'frog', 'legs': 4}
pd.DataFrame([z, x, y])

  animal  legs
0    dog     4
1    cat     4
2   frog     4

In [7]:
my_df = pd.DataFrame({'things': [0,1,2,3,4,5,6,7,8,9,10], 
                      'stuff': ['a','a','a','a','a','a','a','a','a','a','a']})
my_df

    things stuff
0        0     a
1        1     a
2        2     a
3        3     a
4        4     a
5        5     a
6        6     a
7        7     a
8        8     a
9        9     a
10      10     a

In [8]:
# Top 5 by default, can also pass in a number
my_df.head()

   things stuff
0       0     a
1       1     a
2       2     a
3       3     a
4       4     a

In [9]:
# Bottom 5 by default, can also pass in a number
my_df.tail()

    things stuff
6        6     a
7        7     a
8        8     a
9        9     a
10      10     a

In [10]:
# Getitem
my_df['things']

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
Name: things, dtype: int64

In [11]:
# Getitem and passing as list
my_df[['things','stuff']]

    things stuff
0        0     a
1        1     a
2        2     a
3        3     a
4        4     a
5        5     a
6        6     a
7        7     a
8        8     a
9        9     a
10      10     a

In [12]:
# Label
my_df.loc[0]

things    0
stuff     a
Name: 0, dtype: object

In [13]:
# Index location (position)
my_df.iloc[0]

things    0
stuff     a
Name: 0, dtype: object

In [14]:
my_df.iloc[3:5]

   things stuff
3       3     a
4       4     a

In [16]:
my_df[my_df['things'] < 4]['stuff']

0    a
1    a
2    a
3    a
Name: stuff, dtype: object

In [17]:
my_df.index

RangeIndex(start=0, stop=11, step=1)

In [18]:
my_df.columns

Index(['things', 'stuff'], dtype='object')