In [1]:
# import pandas as pd

import pandas as pd

In [2]:
# create DataFrame that contains three columns and three rows

a = ['Before Sunrise','Before Sunset','Before Midnight']
b = [1995, 2004, 2013]
c = [101, 80, 109]

pd.DataFrame({'movie' : a, 'year' : b, 'runtime' : c})

             movie  year  runtime
0   Before Sunrise  1995      101
1    Before Sunset  2004       80
2  Before Midnight  2013      109

In [3]:
df = pd.DataFrame({'movie': a, 'year': b, 'runtime': c})

In [4]:
# view the head of the DataFrame

df.head()

             movie  year  runtime
0   Before Sunrise  1995      101
1    Before Sunset  2004       80
2  Before Midnight  2013      109

In [5]:
# view the index of the DataFrame

df.index

RangeIndex(start=0, stop=3, step=1)

In [6]:
# select and view only the first column of the DataFrame

df['movie']

0     Before Sunrise
1      Before Sunset
2    Before Midnight
Name: movie, dtype: object

In [7]:
# select and view only the first row of the DataFrame

df.loc[0]

movie      Before Sunrise
year                 1995
runtime               101
Name: 0, dtype: object

In [8]:
# create DataFrame that contains three columns and three rows

a = {'movie': 'Before Sunrise', 'year': 1995, 'runtime': 101}
b = {'movie': 'Before Sunset', 'year': 2004, 'runtime': 80}
c = {'movie': 'Before Midnight', 'year': 2013, 'runtime': 109}

pd.DataFrame([a, b, c])

             movie  year  runtime
0   Before Sunrise  1995      101
1    Before Sunset  2004       80
2  Before Midnight  2013      109

In [9]:
df = pd.DataFrame([a, b, c])

In [10]:
# write the DataFrame to CSV file using pandas method

df.to_csv("before_trilogy.csv")

In [11]:
# read the CSV file using pandas method

pd.read_csv("before_trilogy.csv")

   Unnamed: 0            movie  year  runtime
0           0   Before Sunrise  1995      101
1           1    Before Sunset  2004       80
2           2  Before Midnight  2013      109

1. What does the "write/render/evaluate" loop provide for creators of interactive data visualizations?
2. Why are dynamic, interactive data visualizations useful when communicating data?
3. Do you agree with Murray's claim that open-source tools that avoid proprietary software are best for publishing data visualization? In a few sentences, explain why you do or do not agree.
---
1. The *write/render/evaluate* loop described by Murray gives creators the ability to experiment with data visualizations. If the purpose of data visualizations is to help tell the story of a given dataset, the loop allows creators to iterate on visualizations to find a visualization that will best tell the story of the data. This iterative process can only be efficiently completed through the computational mapping of data and writing of code.
2. Dynamic, interactive data visualizations allow for Ben Schneiderman's *Visual Information-Seeking Mantra*: "overview first, zoom and filter, then details-on-demand." Interactive data visualizations are useful because they effectively communicate this funnel of information. 1) at a glance, consumers may see the broad story of the data without putting forth much effort; 2) if consumers want to a piece or section of the data, they can filter it; 3) if there is a particular piece of information for which consumers are looking, they can search for it.
6. While I use open source software most days of my life - whether that be Zotero for school or Jellyfin for my media server - I do not believe open source software is inherently better than proprietary software. If an organization develops a tool that lowers the barrier to entry - or if it creates an opportunity for a user who would otherwise be unable to create a data visualization - then the proprietary tool is the best tool to use.